@model AlbumShop.Data.Models.Album



  <div class="col-lg-4">
      <img class="img-thumbnail" src="@Model.IMG" alt="@Model.Name" />
      <h2>Название: @Model.Name</h2>
      <p>Группа: @Model.Group</p>
      <p>Цена: @Model.Price.ToString("c")</p>
      <p><a class="btn btn-warning" href="#">Подробнее</a></p>
  </div>